{{> nav}}

<div class="m-4">
    {{> msg}}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-4">
            <div class="card shadow shadow-3">
                <div class="card-header">
                    <div class="card-title">
                        <h5>Add data</h5>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/add-data" method='post'>
                        <input type="text" name="title" class="form-control mt-2" placeholder="Title">
                        <textarea name="description" rows=5 class="form-control mt-2" placeholder="Description"></textarea>
                        <input type="text" name="image" placeholder="Image url" class="form-control mt-2">

                        <div class="d-grid gap-2 mt-2">
                            <button class='btn btn-success'>Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class='mt-4 col-md-8'>
        <div class='row'>
            {{#each data}}
            <div class="card col-md-5 p-3 m-2 shadow shadow-3">
                <div class='row'>
                    <div class='col-md-3 m-2'>
                        <a href="/data-delete/{{id}}" class='btn btn-sm btn-danger'>Delete</a>
                    </div>
                    <div class='col-md-3 m-2'>
                        <a href="/data-edit/{{id}}" class='btn btn-sm btn-warning'>Edit</a>
                    </div>
                </div>

                <strong>{{title}}</strong>
                <div class='card-body'>
                    {{description}}
                </div>
                <img src="{{image}}" alt="image" class='img-thumbnail img-fluid'>

            </div>
            {{/each}}
        </div>

    </div>

    </div>


</div>

